In [1]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('postgresql://root:root@postgres:5432/ny_taxi')
engine.connect()

In [2]:
query3 = """
SELECT
    COUNT(*) as total_rows
FROM public.yellow_tripdata
WHERE
    filename LIKE 'yellow_tripdata_2020-__.csv';
"""

pd.read_sql(query3, con=engine)

   total_rows
0    24648499

In [3]:
query4 = """
SELECT
    COUNT(*) as total_rows
FROM public.green_tripdata
WHERE
    filename LIKE 'green_tripdata_2020-__.csv';
"""

pd.read_sql(query4, con=engine)

   total_rows
0     1734051

In [4]:
query5 = """
SELECT
    COUNT(*) as total_rows
FROM public.yellow_tripdata
WHERE
    filename = 'yellow_tripdata_2021-03.csv';
"""

pd.read_sql(query5, con=engine)

   total_rows
0     1925152